{%extends 'layout.html.twig'%}
{%block title%}
Get In Touch
{%endblock%}
{%block body%}
    <div class="container px-5 py-5" style="background-color: #eee; border-radius:15px;">
        <p class="display-3">
            <u>Get in To</u>uch
        </p>
        <form action="" method="" style="">
            <p class="mx-1">
                Full Name
            </p>
            <input type="text"  name="name" id="" class="px-3 py-1" style=" width:97%" style="background: #e4c6c7;
            width: 50%;
            display: inline-flex;
            border-radius: 10px;
            ">

            <p class="">
                Email address
            </p>

            <input type="email" name="email" id="" class="px-3 py-1" style="width:97% ;background: #e4c6c7;

            display: inline-flex;
            border-radius: 10px;
            " class="lg" placeholder="name@example.com">
            <br>
            <p class="mx-1">
                Message
            </p>
            <textarea type="" name="message" id="" class="mb-2 px-3 py-1" style="resize: none; width:97%" rows="7"></textarea>
            <center><button class="btn rounded-pill text-center" style="background-color: #75649c; color:white">Submit</button></center>

    </div>

{%endblock%}