{%extends 'layout.html.twig'%}
{%block title%}
Get In Touch
{%endblock%}
{%block style%}

        input[type="text"] {
            background: #e4c6c7;
            width: 50%;
            display: inline-flex;
            border-radius: 10px;

        }

        input[type="email"] {

        }
        textarea{
            background: #e4c6c7;
            border-radius: 10px;
        }
        p{
            color: #533e85;
        }
        ::placeholder{
            color:black;
            opacity:1;
    }


    </head>
{%endblock%}
{%block body%}
    <div class="container px-5 py-5" style="background-color: #eee; border-radius:15px;">
        <p class="display-3" style="color: #019267;">
            Get in Touch
        </p>
        <form action="" method="" style="">
            <p class="mx-1">
                Full Name
            </p>
            <input type="text"  name="name" id="" class="px-3 py-1" style=" width:97%; background-color:rgb(1, 146, 103,0.2);
            width: 50%;
            display: inline-flex;
            border-radius: 10px;

            ">

            <p class="">
                Email address
            </p>

            <input type="email" name="email" id="" class="px-3 py-1" style="width:97% ;background-color:rgb(1, 146, 103,0.2);

            display: inline-flex;
            border-radius: 10px;
            " class="lg">
            <br>
            <p class="mx-1">
                Message
            </p>
            <textarea type="" name="message" id="" class="mb-2 px-3 py-1" style="resize: none; width:97%;background-color:rgb(1, 146, 103,0.2);" rows="7"></textarea>
            <center><button class="btn rounded-pill text-center" style="background-color: #019267; color:white;" >Submit</button></center>

    </div>

{%endblock%}