<div class="col-md-4 my-3" >
    <div class="card position-relative ">
        <div class="containerImg" >
            <img src="{%block img%}{%endblock%}" class="image card-img-top img-fluid py-3 px-3 " style="border-radius: 25px;">

            <div class="middle">
                <div class="text">
                    <table >
                        <tr>
                            <td>
                                <img src="img/Mask group.png" class="img-fluid">
                            </td>
                            <td class="text-start px-1"  >
                                <b>{%block time%}Food{%endblock%}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/Mask group (2).png" class="img-fluid">
                            </td>
                            <td class="text-start px-1"  >
                                <b>
                                    {%block calories%}2000{%endblock%}
                                </b>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/Mask group 3.png" class="img-fluid">
                            </td>
                            <td class="text-start px-1"  >
                                <b>
                                    {%block rating%}4.5/5{%endblock%} <br><span style="font-size:10px ;color:black">(by {%block by%}100 {%endblock%}users)</span>
                                </b>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title fluid" style="display:inline-block;"><a href="{% block link %}{% endblock %}" style="font-weight:bold;">{%block name%}Delicious Meal{%endblock%}</a></h5>
            <p class="text text-end" style="text-align:match-parent;display:inline;">
                {%block price%}10TD{%endblock%}</p>
            <p class="card-text"></p>
        </div>

    </div>
</div>
